@media (max-width: 767px) {
  .ui.grid>.documentview.column:not(.row) {
    position: fixed !important;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-height: 80vh;
    overflow: scroll;
    display: none;
  }
}

/*******************************
            Nav Bar
*******************************/
.ui.menu{
  margin-top:0;
}
.ui.stackable.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #1FC490;
    font-weight: 400;
    min-height: 2.85714286em;
    border: 0px;
    margin-bottom: 0px;
    box-shadow: 2px;
    border-radius: 0px;
    min-height: 2.85714286em;
    color: #FFF !important;
}
.ui.menu .item {
    background: 0 0;
    height:55px;
    text-transform: none;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover{
  color:#FFF;
}

.ui.menu .dropdown.item .menu {
    min-width: calc(100% - 1px);
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
}
/*******************************
            Hero
*******************************/
.pagehero{
  height: 550px;
}

/*******************************
            Media Feed
*******************************/
.mediafeed{
  height: 300px;
  text-align: center;
}
#twitter-widget-0 {
    max-width: 500px;
    padding-top:10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
}
.fb-page{
  margin-left: 0px;
  width:400px;
  height: 300px;
}
